@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria:#F6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727; 

    --fonte-principal: 'Krona One', sans-serif; 
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0; 
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 8%;

}

.cabecalho__menu{
    display:flex;
    gap: 50px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size:  1.5rem;
    font-weight: 200;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    margin: 3%;
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: space-between;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:5%;
    margin: 5% 5%;
}

.apresentacao__conteudo__titulo{
    font-family: var(--fonte-principal); 
    font-size: 2.25rem;
    padding-bottom: 10%;
    /*1 rem = 16px*/
}

.apresentacao__conteudo__texto{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem; 
    padding-bottom: 10%;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-principal); 
}

.apresentacao__links__link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600px;
    padding: 20px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    text-decoration: none;
}

.apresentacao__links__link:hover{
    background-color:var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;
}


.rodape{
    padding: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 800px) {
    .apresentacao{
        flex-direction: column-reverse;
    }

    .cabecalho{
        padding: 5% 5% 0 5%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}













